{
  "extends": "standard",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": [2, "never"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "globals": {
    "alert": true,
    "__DEV__": true,
    "fetch": true
  },
  "plugins": [
    "flowtype",
    "react"
  ]
}